body {
    background-color: powderblue;
    color: white;
    font-family: "Roboto", sans-serif;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
}

.main_div {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 5rem;
}

.align_middle {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

#name {
    margin:0px;
    height: 5rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#github {
    text-align: right;
    margin-right: 4px;
}

#instagram {
    text-align: left;
    margin-left: 4px;
}

.grow {
    color: white;
    transition: all 0.2s ease-in-out;
}

.grow:hover {
    font-size: 7rem;
    color:red;
}

a {
    all: unset;
}