html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    font-family: 'DM Sans', sans-serif;
    transition: background .4s ease-in;
    background-color: rgb(233,163,127);
    color: white;
}

#card-text {
    position: absolute;
    margin:0px;
    font-size:4rem;
    display: flex;
    bottom: 30px;
    left: 30px;
    height: 10%;
    width: 100%;
}

.grow {
    color: white;
    transition: all 0.8s ease-in-out;
}

.grow:hover {
    font-size: 6rem;
    color:rgb(151, 187, 228);
}

a {
    all: unset;
}